.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Sidebar
        %li.active
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
  .span9
    %h1 Hello, world
    %p You should probably change this to be something useful, you can find me at /views/index.hml