.sixteen.columns
  %h1.remove-bottom{:style => "margin-top: 40px"} Skeleton
  %h5 Version 1.0.2
  %hr/
.one-third.column
  %h3 About Skeleton?
  %p Skeleton is a small collection of well-organized CSS & JS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, tabs, forms and media queries. Go ahead, resize this super basic page to see the grid in action.
.one-third.column
  %h3 Three Core Principles
  %p Skeleton is built on three core principles:
  %ul.square
    %li
      %strong> A Responsive Grid Down To Mobile
      \: Elegant scaling from a browser to tablets to mobile.
    %li
      %strong> Fast to Start
      \: It's a tool for rapid development with best practices
    %li
      %strong> Style Agnostic
      \: It provides the most basic, beautiful styles, but is meant to be overwritten.
.one-third.column
  %h3 Docs &amp; Support
  %p
    The easiest way to really get started with Skeleton is to check out the full docs and info at
    = succeed "." do
      %a{:href => "http://www.getskeleton.com"} www.getskeleton.com.
    Skeleton is also open-source and has a
    = succeed "," do
      %a{:href => "https://github.com/dhgamache/skeleton"} project on git
    so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at
    = succeed "." do
      %a{:href => "mailto:hi@getskeleton.com"} hi@getskeleton.com

