%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}/
    %title Your Page Title Here :)
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "stylesheets/bootstrap-1.2.0.css", :rel => "stylesheet"}
    %link{:href => "stylesheets/application.css", :rel => "stylesheet"}

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body
    .container
      = yield
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"}
    :javascript
      window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")    %script{:src => "javascripts/app.js"}

