	body { 
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
 }
	h1, h2, h3, h4, h5, h6 { 
		font-family:  Georgia, Helvetica, Arial, sans-serif;
}
