require 'bundler'
Bundler.require
require 'sinatra/base'

MongoMapper.database = "<%= name.downcase %>_#{settings.environment}"

Dir["models/*.rb"].each do |model|
  require_relative model
end

class <%= name.capitalize %> < Sinatra::Base
  set :public_folder, File.dirname(__FILE__) + '/public'
  require "sinatra/reloader"

  before do
  end

  get '/' do
    haml :index
  end

  not_found do
    haml :"static/404"
  end

  error do
    haml :"static/error"
  end

end
